a {
	text-decoration: none;
}

body {
	font-family: sans-serif;
	margin: 0;
}

button {
	border-style: none;
}
img {
	display: block;
}

ul {
	list-style-type: none;
}

ul, li {
	margin: 0;
	padding: 0;
}
